@import '../../variables.css';
@import '../common.css';
@import '../../helpers.css';
.activationStepPanel {
	max-width: 1024px;
	margin: 0 auto;
	height: 100%;
	min-height: 520px;
	text-align: center;
	border: none;
}

.titleMeetup {
	padding-inline: 10%;
}

.fields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin-bottom: 2em;
}
.field {
	display: grid;
	gap: 0.5em;
}
.panelBody {
	position: relative;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 60px;
	padding-right: 60px;
}
.MeetupContentSection {
	width: 100%;
	display: flex;
	gap: 20px
}
.MeetupContentSectionLeft{
	margin-top: 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.MeetupContentSectionLogo{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: rgb(19, 70, 64);
	display: flex;
	align-items: center;
	justify-content: center;
}
.MeetupContentSectionLeftText{
	padding-inline: 10px;
}
.MeetupContentSectionRight{
	width: 50%;
}
.userLeft {
	display: inline-block;
	vertical-align: middle;
}
.userRight {
	display: inline-block;
	vertical-align: middle;
}
.logoIcon {
	height: 51px;
	width: 51px;
	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	z-index: 2;
	text-align: center;
}
.logoImage {
	height: 51px;
	width: 51px;
}
.highlightedIcon {
	border-width: 3px !important;
	background-color: var(--btn-primary-bg);
	position: absolute;
}
.profileImage {
	height: 130px;
	width: 130px;
}
.checkboxesMeetup {
	display: grid;
	grid-template-columns: 1fr;
	gap: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: start;
	padding-left: 10%;
	/* padding-inline: 20px; */
}
.checkboxMeetup{
	display: flex;
	gap: 5px;
	align-items: center;
	/* white-space: nowrap; */
}
.additionInputBox{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	font-size: 12px;
}
.additionInput{
	width: 100%;
	height: 100%;
	padding: 10px !important;
	font-size: 16px;
}
.mediaPhoto {
	backface-visibility: hidden;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
}
.mediaRound {
	border-radius: 50%;
	border: 2px solid #fff;
}
.textLead {
	font-size: 16px;
}
.ps-footer{
	color: red;
}
.btn {
	max-width: 530px;
}
.btnDisabled{
	background-color: #fff;
	border-color: black !important;
	color: black !important;
}
.btnDisabled:hover{
	background-color: #fff !important;
	border-color: black !important;
	color: black !important;
}

@media screen and (max-width: 640px) {
	.profileImage {
		height: 92px;
		width: 92px;
	}
	.logoImage {
		height: 41px;
		width: 41px;
	}
	.titleMeetup {
		padding-inline: 0;
	}
	.MeetupContentSectionLeftText{
		padding-inline: 0;
	}
	.MeetupContentSectionLogo{
		width: 150px;
		height: 150px;
	}
	.MeetupContentSectionRight{
		width: 60%;
	}
}
@media screen and (max-width: 500px) {
	.panelBody {
		padding-left: 10px;
		padding-right: 10px;
	}
}
